.parent {

   height: 80vh;
   display: grid;
   grid-template-columns: repeat(2, 1fr) 2fr repeat(2, 1fr);
   grid-template-rows: repeat(2, 1fr) 2fr repeat(2, 1fr);
   grid-column-gap: 3px;
   grid-row-gap: 2px;
   font-size: small;
   color: rgb(196, 10, 221);
   text-shadow: 1px 1px 2px rgb(56, 53, 53);
}

.parent div {
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 1em;
   clear:both;
}


.div1 {
   grid-area: 2 / 5 / 3 / 5;
   background-color: rgb(36, 186, 231);

}

.div1 img {
   object-fit: contain;
   max-width:3em ;
   max-height:2em ;
}

.div2 {
   grid-area: 4 / 5 / 5 / 6;
   background-color: rgb(158, 120, 17);

}

.div2 img {
   object-fit: contain;
   max-width:3em ;
   max-height:2em ;
}

.div3 {
   grid-area: 3 / 3 / 4 / 4;
   background-color: rgb(24, 50, 201);

}

.div3 img {
   object-fit: contain;
   max-width:3em;
   max-height:2em;
}

.div4 {
   grid-area: 2 / 1 / 4 / 3;
   background-color: rgb(2, 12, 31);
   color: aliceblue;
   font-size: larger;
}

.div4 img {
   width: 19em;
   height: min-content;
   clear:both;
}

.div5 {
   grid-area: 4 / 1 / 5 / 2;
   background-color: rgb(189, 15, 30);

}

.div5 img {
   object-fit: contain;
   max-width:30vw ;
   max-height:10em ;
}

.div6 {
   grid-area: 2 / 3 / 3 / 4;
   background-color: rgb(238, 255, 0);

}

.div6 img {
   object-fit: contain;
   max-width:3em ;
   max-height:2em ;
}

.div7 {
   grid-area: 4 / 2 / 5 / 5;
   background-color: rgb(148, 202, 202);

}

.div7 img {
   object-fit: contain;
   max-width:3em ;
   max-height:2em ;
}

.div8 {
   grid-area: 2 / 4 / 4 / 5;
   background-color: rgb(81, 182, 14);

}

.div8 img {
   object-fit: contain;
   max-width:3em ;
   max-height: 2em;
}